body {
}

h1 {
    color: black;
    margin-left: 20px;
}

/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: none;
    position: relative;
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

body {
	font-size: 25px;
	margin: 0;
}
* {
    box-sizing: border-box;
}
/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
